In [1]:
###use this notebook to create databases

In [2]:
from os import system as bash
from pyspark.sql import SparkSession
from splicemachine.spark import PySpliceContext
import pandas as pd
import time

In [3]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
splice = PySpliceContext(spark)

In [14]:
days = {'jan':31, 'feb':28, 'march':31, 'april':30, 'may':31, 'june': 30, 'july':31, 'aug':31, 'sep': 30, 'oct': 31, 'nov': 30, 'dec': 31}

In [15]:
def download_file(file):
    bash(f'wget https://coast.noaa.gov/htdata/CMSP/AISDataHandler/2019/{file}.zip')
    bash(f'unzip {file}.zip')
    bash(f'hdfs dfs -copyFromLocal {file}.csv /tmp/file.csv') # Copy to HDFS
    bash(f'rm {file}.zip') # Remove local copy
    bash(f'rm {file}.csv') # Remove local copy

In [16]:
########CAREFULLLL---- DO NOT RUN  CELL BELOW. IT WILL OVERWRITE##########
#create table janfebmarch (mmsi int, basedatetime timestamp, lat float, lon float, sog float, cog float, heading float, vesselname varchar(100), imo varchar(100), callsign varchar(100), vesseltype float, status float, length float, width float, draft float, cargo float, transcieverclass varchar(100))

In [8]:
%%sql 
drop table if exists february;
create table february (mmsi int, basedatetime timestamp, lat float, lon float)

Sql started successfully

In [10]:
schema = splice.getSchema('january')

In [10]:
schema

StructType(List(StructField(MMSI,IntegerType,true),StructField(BASEDATETIME,TimestampType,true),StructField(LAT,DoubleType,true),StructField(LON,DoubleType,true)))

In [4]:
df = splice.df("select * from AGUPTA.janfebmarch")

In [7]:
help(df)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(builtins.object)
 |  DataFrame(jdf, sql_ctx)
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the data frame, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy.agg()``).
 |
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      :param alias: string, an alias name to be set for the DataFrame.
 |
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age").collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      DataFrame.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the DataFrame has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the DataFrame so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[http://dx.doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      :param col: str, list.
 |        Can be a single column name, or a list of names for multiple columns.
 |      :param probabilities: a list of quantile probabilities
 |        Each number must belong to [0, 1].
 |        For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      :param relativeError:  The relative target precision to achieve
 |        (>= 0). If set to zero, the exact quantiles are computed, which
 |        could be very expensive. Note that values greater than 1 are
 |        accepted but give the same result as 1.
 |      :return:  the approximate quantiles at the given probabilities. If
 |        the input `col` is a string, the output is a list of floats. If the
 |        input `col` is a list or tuple of strings, the output is also a
 |        list, but each element in it is a list of floats, i.e., the output
 |        is a list of list of floats.
 |
 |      .. versionchanged:: 2.2
 |         Added support for multiple columns.
 |
 |      .. versionadded:: 2.0
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (C{MEMORY_AND_DISK}).
 |
 |      .. note:: The default storage level has changed to C{MEMORY_AND_DISK} to match Scala in 2.0.
 |
 |      .. versionadded:: 1.3
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
 |      logical plan of this DataFrame, which is especially useful in iterative algorithms where the
 |      plan may grow exponentially. It will be saved to files inside the checkpoint
 |      directory set with L{SparkContext.setCheckpointDir()}.
 |
 |      :param eager: Whether to checkpoint this DataFrame immediately
 |
 |      .. note:: Experimental
 |
 |      .. versionadded:: 2.1
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      :param numPartitions: int, to specify the target number of partitions
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |      .. versionadded:: 1.4
 |
 |  colRegex(self, colName)
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      :param colName: string, column name specified as a regex.
 |
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |      .. versionadded:: 2.3
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a DataFrame as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |      :param method: The correlation method. Currently only supports "pearson"
 |
 |      .. versionadded:: 1.4
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      >>> df.count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |
 |      .. versionadded:: 1.4
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this DataFrame.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.1
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.2
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      :param other: Right side of the cartesian product.
 |
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |      .. versionadded:: 2.1
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      :param col1: The name of the first column. Distinct items will make the first item of
 |          each row.
 |      :param col2: The name of the second column. Distinct items will make the column names
 |          of the DataFrame.
 |
 |      .. versionadded:: 1.4
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregation on them.
 |
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  describe(self, *cols)
 |      Computes basic statistics for numeric and string columns.
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      .. note:: This function is meant for exploratory data analysis, as we make no
 |          guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe().show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      .. versionadded:: 1.3.1
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      >>> df.distinct().count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  drop(self, *cols)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      :param cols: a string name of the column to drop, or a
 |          :class:`Column` to drop, or a list of string name of the columns to drop.
 |
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |      .. versionadded:: 1.4
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      :param how: 'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      :param thresh: int, default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      :param subset: optional list of column names to consider.
 |
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  exceptAll(self, other)
 |      Return a new :class:`DataFrame` containing rows in this :class:`DataFrame` but
 |      not in another :class:`DataFrame` while preserving duplicates.
 |
 |      This is equivalent to `EXCEPT ALL` in SQL.
 |
 |      >>> df1 = spark.createDataFrame(
 |      ...         [("a", 1), ("a", 1), ("a", 1), ("a", 2), ("b",  3), ("c", 4)], ["C1", "C2"])
 |      >>> df2 = spark.createDataFrame([("a", 1), ("b", 3)], ["C1", "C2"])
 |
 |      >>> df1.exceptAll(df2).show()
 |      +---+---+
 |      | C1| C2|
 |      +---+---+
 |      |  a|  1|
 |      |  a|  1|
 |      |  a|  2|
 |      |  c|  4|
 |      +---+---+
 |
 |      Also as standard in SQL, this function resolves columns by position (not by name).
 |
 |      .. versionadded:: 2.4
 |
 |  explain(self, extended=False)
 |      Prints the (logical and physical) plans to the console for debugging purpose.
 |
 |      :param extended: boolean, default ``False``. If ``False``, prints only the physical plan.
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      Scan ExistingRDD[age#0,name#1]
 |
 |      >>> df.explain(True)
 |      == Parsed Logical Plan ==
 |      ...
 |      == Analyzed Logical Plan ==
 |      ...
 |      == Optimized Logical Plan ==
 |      ...
 |      == Physical Plan ==
 |      ...
 |
 |      .. versionadded:: 1.3
 |
 |  fillna(self, value, subset=None)
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      :param value: int, long, float, string, bool or dict.
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping

In [6]:
dp = df.head(5).toPandas()

AttributeError: 'list' object has no attribute 'toPandas'

In [ ]:
dp

In [9]:
SCHEMA = 'AGUPTA'
TABLE = 'january'

In [18]:
for i, month in enumerate(['feb',]):
    for day in range(days[month]):
        file = 'AIS_2019_' + f'{i+1:02}'  + '_' f'{day + 1:02}'
        print('Downloading file:', file)
        download_file(file)
        
        df = spark.read.option("timestampFormat", "yyyy-MM-dd HH:mm:ss").csv(f'/tmp/file.csv', header=True, schema=schema)
        df = df['MMSI', 'BASEDATETIME', 'LAT', 'LON']
        splice.insert(df, f'{SCHEMA}.{TABLE}', to_upper=True)
        print('Done')

Downloading file: AIS_2019_01_01
Done
Downloading file: AIS_2019_01_02
Done
Downloading file: AIS_2019_01_03
Done
Downloading file: AIS_2019_01_04
Done
Downloading file: AIS_2019_01_05
Done
Downloading file: AIS_2019_01_06
Done
Downloading file: AIS_2019_01_07
Done
Downloading file: AIS_2019_01_08
Done
Downloading file: AIS_2019_01_09
Done
Downloading file: AIS_2019_01_10
Done
Downloading file: AIS_2019_01_11
Done
Downloading file: AIS_2019_01_12
Done
Downloading file: AIS_2019_01_13
Done
Downloading file: AIS_2019_01_14
Done
Downloading file: AIS_2019_01_15
Done
Downloading file: AIS_2019_01_16
Done
Downloading file: AIS_2019_01_17
Done
Downloading file: AIS_2019_01_18
Done
Downloading file: AIS_2019_01_19
Done
Downloading file: AIS_2019_01_20
Done
Downloading file: AIS_2019_01_21
Done
Downloading file: AIS_2019_01_22
Done
Downloading file: AIS_2019_01_23
Done
Downloading file: AIS_2019_01_24
Done
Downloading file: AIS_2019_01_25
Done
Downloading file: AIS_2019_01_26
Done
Downloading file: AIS_2019_01_27
Done
Downloading file: AIS_2019_01_28
Done

In [11]:
spark.read.option("timestampFormat", "yyyy-MM-dd HH:mm:ss").csv(f'/tmp/file.csv', header=True, schema=schema).show(10)

+---------+-------------------+--------+----------+----+------+-------+----------+----+--------+----------+------+------+-----+-----+-----+----------------+
|     MMSI|       BASEDATETIME|     LAT|       LON| SOG|   COG|HEADING|VESSELNAME| IMO|CALLSIGN|VESSELTYPE|STATUS|LENGTH|WIDTH|DRAFT|CARGO|TRANSCIEVERCLASS|
+---------+-------------------+--------+----------+----+------+-------+----------+----+--------+----------+------+------+-----+-----+-----+----------------+
|338208626|2019-01-01T00:00:05|37.86505|-122.31405| 0.0|-165.0|  511.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
|367420490|2019-01-01T00:00:04|31.26095| -91.65160| 4.5|  15.0|   31.0|      null|null|    null|      null|    15|  null| null| null| null|               B|
|338060122|2019-01-01T00:00:04|30.67109| -81.46722| 1.9| -67.4|  511.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
|368018190|2019-01-01T00:00:04|30.70736| -88.04332| 0.0|-103.6|  301.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
|368039230|2019-01-01T00:00:04|35.08305| -90.14214| 0.0|-182.3|    4.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
|374494000|2019-01-01T00:00:04|33.41952| -77.47736|14.7|-175.0|  234.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
|367062810|2019-01-01T00:00:05|35.20839| -75.70257| 0.0| -49.6|  511.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
|368032120|2019-01-01T00:00:05|29.68349| -91.16608| 6.3|  83.2|   72.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
|316033899|2019-01-01T00:00:06|45.51233| -73.54686| 0.0| -49.6|  511.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
|368017000|2019-01-01T00:00:05|61.12169|-146.34365| 0.0|  37.0|  253.0|      null|null|    null|      null|     0|  null| null| null| null|               B|
+---------+-------------------+--------+----------+----+------+-------+----------+----+--------+----------+------+------+-----+-----+-----+----------------+
only showing top 10 rows

In [41]:
#Alternate way to define schema
'''from pyspark.sql.types import *
schema = StructType([StructField('mmsi', StringType(), True),
                     StructField('basedatetime', StringType(), True),
                     StructField('lat', StringType(), True),
                     StructField('lon', StringType(), True),
                    StructField('sog', StringType(), True),
                    StructField('cog', StringType(), True),
                    StructField('heading', StringType(), True),
                    StructField('vesselname', StringType(), True),
                    StructField('imo', StringType(), True),
                    StructField('callsign', StringType(), True),
                    StructField('vesseltype', StringType(), True),
                    StructField('status', StringType(), True),
                    StructField('length', StringType(), True),
                    StructField('width', StringType(), True),
                    StructField('draft', StringType(), True),
                    StructField('cargo', StringType(), True),
                    StructField('transcieverclass', StringType(), True)])'''

"from pyspark.sql.types import *\nschema = StructType([StructField('mmsi', StringType(), True),\n                     StructField('basedatetime', StringType(), True),\n                     StructField('lat', StringType(), True),\n                     StructField('lon', StringType(), True),\n                    StructField('sog', StringType(), True),\n                    StructField('cog', StringType(), True),\n                    StructField('heading', StringType(), True),\n                    StructField('vesselname', StringType(), True),\n                    StructField('imo', StringType(), True),\n                    StructField('callsign', StringType(), True),\n                    StructField('vesseltype', StringType(), True),\n                    StructField('status', StringType(), True),\n                    StructField('length', StringType(), True),\n                    StructField('width', StringType(), True),\n                    StructField('draft', StringType(), True),\n                    StructField('cargo', StringType(), True),\n                    StructField('transcieverclass', StringType(), True)])"

In [4]:
df = splice.df("select * from AGUPTA.january")

In [7]:
df.head(10)

[Row(MMSI='367387930', BASEDATETIME='2019-01-01T10:15:59', LAT='29.12124', LON='-94.56475', SOG='1.2', COG='-201.4', HEADING='511.0', VESSELNAME='ODYSSEA DEFENDER', IMO='IMO9535072', CALLSIGN='WDE7022', VESSELTYPE='90', STATUS='0', LENGTH='58', WIDTH='12', DRAFT='4.7', CARGO='79', TRANSCIEVERCLASS='B'),
 Row(MMSI='311000500', BASEDATETIME='2019-01-01T10:15:45', LAT='28.79222', LON='-89.36088', SOG='2.8', COG='78.6', HEADING='70.0', VESSELNAME='AMAZON BRILLIANCE', IMO='IMO9294678', CALLSIGN='C6CK8', VESSELTYPE='80', STATUS='0', LENGTH='228', WIDTH='40', DRAFT='12.0', CARGO='80', TRANSCIEVERCLASS='B'),
 Row(MMSI='366984870', BASEDATETIME='2019-01-01T19:32:28', LAT='38.38538', LON='-90.34396', SOG='4.1', COG='32.0', HEADING='33.0', VESSELNAME='DAN MACMILLAN', IMO=None, CALLSIGN='WDB9903', VESSELTYPE='31', STATUS='12', LENGTH='53', WIDTH='16', DRAFT=None, CARGO='31', TRANSCIEVERCLASS='B'),
 Row(MMSI='367940000', BASEDATETIME='2019-01-01T00:00:05', LAT='41.46016', LON='-70.73666', SOG='12.9', COG='57.2', HEADING='58.0', VESSELNAME='CG SANIBEL', IMO=None, CALLSIGN='NDCK', VESSELTYPE='90', STATUS='0', LENGTH='33', WIDTH='6', DRAFT=None, CARGO=None, TRANSCIEVERCLASS='B'),
 Row(MMSI='367163390', BASEDATETIME='2019-01-01T17:15:10', LAT='47.65886', LON='-122.37904', SOG='0.0', COG='-72.1', HEADING='511.0', VESSELNAME='GULF SOUTH 1', IMO=None, CALLSIGN='WDD5771', VESSELTYPE='90', STATUS='0', LENGTH='32', WIDTH='7', DRAFT=None, CARGO='79', TRANSCIEVERCLASS='B'),
 Row(MMSI='367547750', BASEDATETIME='2019-01-01T00:00:02', LAT='29.75747', LON='-95.09417', SOG='0.0', COG='-146.9', HEADING='511.0', VESSELNAME='HIGH ISLAND', IMO=None, CALLSIGN='WDG5547', VESSELTYPE='31', STATUS='0', LENGTH='23', WIDTH=None, DRAFT=None, CARGO=None, TRANSCIEVERCLASS='B'),
 Row(MMSI='367404910', BASEDATETIME='2019-01-01T17:15:19', LAT='29.36484', LON='-94.89221', SOG='0.0', COG='1.6', HEADING='253.0', VESSELNAME='SAN BRENDAN', IMO=None, CALLSIGN='WDE8388', VESSELTYPE='31', STATUS='0', LENGTH='24', WIDTH='9', DRAFT=None, CARGO='31', TRANSCIEVERCLASS='B'),
 Row(MMSI='367431130', BASEDATETIME='2019-01-01T19:33:04', LAT='29.23056', LON='-90.21310', SOG='0.0', COG='-153.0', HEADING='511.0', VESSELNAME='NIKOLA', IMO=None, CALLSIGN='WDF2719', VESSELTYPE='90', STATUS='0', LENGTH='33', WIDTH='9', DRAFT=None, CARGO='57', TRANSCIEVERCLASS='B'),
 Row(MMSI='367702290', BASEDATETIME='2019-01-01T14:58:36', LAT='30.04468', LON='-90.48444', SOG='0.0', COG='-188.1', HEADING='334.0', VESSELNAME='MIKE WEISEND', IMO=None, CALLSIGN='WDI4815', VESSELTYPE='31', STATUS='15', LENGTH='47', WIDTH='14', DRAFT=None, CARGO=None, TRANSCIEVERCLASS='B'),
 Row(MMSI='366892660', BASEDATETIME='2019-01-01T14:56:38', LAT='29.73314', LON='-95.20586', SOG='0.0', COG='185.4', HEADING='34.0', VESSELNAME='DANE F MORGAN', IMO='IMO8983076', CALLSIGN='WDB3910', VESSELTYPE='31', STATUS='0', LENGTH='22', WIDTH='9', DRAFT=None, CARGO='31', TRANSCIEVERCLASS='B')]